{% extends 'base.html.twig' %}

{% set user = user ?? null %}

{% block header_title %}
    {% if user %}
        <h1>Modifier <strong>{{ user.username }}</strong></h1>
    {% else %}
        <h1>Créer un compte</h1>
    {% endif %}
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_errors(form) }}

        {{ form_start(form, { attr: { id: form.vars.id }}) }}

            {{ form_row(form.username) }}

            {{ form_row(form.email) }}

            {% if app.user == user %}
                <div class="mt-5 fs-5">
                    <p class="m-0">Modification de mot de passe (laisser vide pour conserver le mot de passe actuel)</p>
                </div>

                {{ form_row(form.currentPassword) }}

                {{ form_row(form.newPassword, { label: false }) }}
            {% elseif user == null %}
                {{ form_row(form.newPassword, { label: false }) }}
                {% do form.currentPassword.setRendered %}
            {% else %}
                {% do form.currentPassword.setRendered %}
                {% do form.newPassword.setRendered %}
            {% endif %}

            {# Add the roles field only if the current user is an admin #}
            {% if app.user.admin %}
                {{ form_row(form.roles, { label: false }) }}
            {% else %}
                {% do form.roles.setRendered %}
            {% endif %}

        {{ form_end(form) }}
    </div>

    <button type="submit" form="{{ form.vars.id }}" class="btn btn-success float-end">{{ user ? 'Modifier' : 'Créer un compte' }}</button>

    {% if is_granted(constant('DELETE', UserVoter), user) %}
        <form action="{{ path('user.delete', { id: user.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger float-start" id="delete-account">Supprimer le compte</button>
        </form>
    {% endif %}
{% endblock %}
