{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    <a href="{{ path('user.create') }}" class="btn btn-primary mb-5">Créer un utilisateur</a>

    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user.create') }}" class="btn btn-warning float-end">Créer un utilisateur</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse e-mail</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }} {% if user.admin %}<span class="badge text-bg-dark">Admin</span>{% endif %}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if is_granted('USER_EDIT', user) %}
                                <a href="{{ path('user.edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                            {% endif %}

                            {% if is_granted('USER_DELETE', user) %}
                                <form action="{{ path('user.delete', { id: user.id }) }}" method="post" class="d-inline">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button
                                        class="btn btn-danger btn-sm"
                                        id="user-{{ user.id }}-delete"
                                        data-controller="delete-button"
                                        data-confirmation="Confirmez-vous la suppression de cet utilisateur ?"
                                    >Supprimer</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
